ConsoleApplication1/ConsoleApplication1/Service References/ServiceReference1/Manager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetPremium">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workersNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPremiumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPremiumResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStavka">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workersNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStavkaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStavkaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>